* {
  box-sizing: border-box;
}
.budget {
  background-color: #2ecc71;
  padding: 20px;
  margin: 8px;
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-left: -10px;
  margin-right: -7px;
}

.card {
  margin-bottom: 30px;
  max-width: 30rem;
}

.cardTitle {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.itemCost {
  font-size: 20px;
  color: #24c486;
  text-align: center;
}

.sellBtn {
  background: #f1f2f6 !important;
  border: none;
  color: #333;
  cursor: auto;
  touch-action: manipulation;
  font-weight: 700;
  width: 90px;
  padding: 10px 12px;
  margin: 8px;
}

.itemInput {
  font-size: 16px;
  text-align: center;
  width: 90px;
  padding: 10px 12px;
  margin: 8px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.itemBuy {
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 3px;
  color: #fff;
  border: none;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  margin: 8px;
  width: 90px;
}

.containerProduct {
  width: 1150px;
  margin-left: 75px;
}

/* .budgetContainer {
  width: 1115px;
  position: sticky;
  top: 10px;
  background-color: blue;
} */

/* .centerMoney {
  color: #fff;
  background-color: #2ecc71;
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
  padding: 20px;
  margin: 10px 0;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  top: 0;
  position: sticky;
  z-index: 9999;
  width: 1125px;
  margin-left: 199px;
  margin-bottom: 1.5rem;
  min-width: 100px;
} */

@media screen and (min-width: 772px) {
  .centerMoney {
    color: #fff;
    background-color: #2ecc71;
    background: linear-gradient(180deg, #2ecc71, #1abc9c);
    padding: 20px;
    margin: 10px 0;
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    top: 0;
    position: sticky;
    z-index: 9999;
    width: 1125px;
    margin-left: 199px;
    margin-bottom: 1.5rem;
    min-width: 100px;
  }
}

@media screen and (min-width: 10px) and (max-width: 772px) {
  .centerMoney {
    color: #fff;
    background-color: #2ecc71;
    background: linear-gradient(180deg, #2ecc71, #1abc9c);
    padding: 20px;
    margin: 10px 0;
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    top: 0;
    position: sticky;
    z-index: 9999;
    margin-bottom: 1.5rem;
    margin-left: 100px;
    min-width: 475px;
  }
}
